.App {
  text-align: center;
}

.container{
  display: grid;
  width: 80vw;
  margin: auto;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

@media (max-width: 500px) {
	.container {
		display: flex;
		flex-direction: column;
    width: 100vw;
	}
}